
/*=> Styles - Icons
--------------------------------------------------*/

li.icon {
    list-style-type: none;
}

.icon,
a.icon { // So link colours are applied

    &:before {
        @extend %bullet;
        margin-top: -1px;
        color: $muted-text-colour;
        font-size: $icon-size-default;
    }
    &:hover:before {
        color: $body-text-colour;
    }

    &.small:before {
        font-size: $icon-size-small;
    }
    &.medium:before {
        font-size: $icon-size-medium;
    }
    &.large:before {
        font-size: $icon-size-large;
    }

    &.facebook {
        &:before {
            content: $fa-var-facebook-official;
        }
        &:hover:before {
            color: $facebook-colour;
        }
    }
    &.twitter {
        &:before {
            content: $fa-var-twitter;
        }
        &:hover:before {
            color: $twitter-colour;
        }
    }
    &.github:before {
        content: $fa-var-github;
    }
}


/*=> Styles - Icons > Social media
--------------------------------------------------*/

.social .icon:before {
    transition: color $animation-fade-time $animation-fade-type;
}
