
/*=> Styles - Placeholders
--------------------------------------------------*/

/*=> Styles - Placeholders > Icons
--------------------------------------------------*/

%bullet {
    @include fa-icon();
    float: left;
    margin-top: 3px;
    margin-left: -$gutter;
    font-size: 14px;
}
