
/*=> Styles - Placeholders
--------------------------------------------------*/

/*=> Styles - Placeholders > Icons
--------------------------------------------------*/

%icon {
    @include fa-icon();
}
%bullet {
    @extend %icon;
    float: left;
    margin-top: 3px;
    margin-left: -$gutter;
    font-size: 14px;
}
