
/*=> Variables
--------------------------------------------------*/

$images-url: "/images";


/*=> Variables - Brand
--------------------------------------------------*/

$brand-primary:             rgba(43, 76, 111, 1) !default;
$brand-dark:                $gray-darker !default; // #222
$brand-light:               $gray-lighter !default; // #eee

$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$brand-font-family:         'Open Sans', sans-serif;
$brand-font-weight:         300;
$brand-font-weight-bold:    600;
$brand-font-size:           16px;
$brand-font-colour:         $text-color !default;
$brand-font-colour-dark:    $brand-dark !default; // #222
$brand-font-colour-light:   $brand-light !default; // #eee

$hero-unit-alpha:           .25;


/*=> Variables - Measurements
--------------------------------------------------*/

$gutter:                    30px !default;
$gutter-half:               $gutter / 2 !default;


/*=> Variables - Navigation
--------------------------------------------------*/

$navbar-default-color:      $brand-primary !default;


/*=> Variables - Main content
--------------------------------------------------*/

/*=> Variables - Main content > Colours
--------------------------------------------------*/

$body-text-colour:          $brand-font-colour;
$muted-text-colour:         $brand-font-colour-light;


/*=> Variables - Main content > Hero unit
--------------------------------------------------*/

$hero-unit-bg:              $brand-primary;


/*=> Variables - Footer
--------------------------------------------------*/

/*=> Variables - Footer > Colours
--------------------------------------------------*/
$footer-colour:             $brand-light;
$footer-text-colour:        $text-color;

$facebook-colour:           #3b5998;
$twitter-colour:            #00aced;
