
@import "bootstrap";
@import "partials/_variables";
@import "partials/_placeholders";
@import "partials/_typography";

/*=> Styles
--------------------------------------------------*/

html, footer {
    background-color: $footer-colour;
}

body {
    padding-top: $navbar-height;
    font-family: $brand-font-family;
    font-weight: $brand-font-weight;
}


/*=> Styles - Flexbox
--------------------------------------------------*/

.flex-container {
    display: flex;
    align-items: stretch;

    &__column {
        flex-direction: column;
    }
    &__row {
        flex-direction: row;
    }
    &__row--left {
        justify-content: flex-start;
    }
    &__row--right {
        justify-content: flex-end;
    }
}

/*=> Styles - Navigation
--------------------------------------------------*/

body > nav.navbar {
    font-weight: $brand-font-weight-bold;
    border-bottom: none;
}
.navbar-fixed-top {
    background-color: $body-bg;
}

/*=> Styles - Content
--------------------------------------------------*/

body {
    background-color: $brand-light;
    font-size: $brand-font-size;
}

#content {
    > section {
        padding: $gutter;

        &:first-child {
            background-color: $brand-primary;
        }        
        h1 {
            margin-top: 0;
        }
    }
    > section:nth-child(3n+2) {
        background-color: $brand-dark;
        color: $brand-light;
    }
    > section:nth-child(3n+3) {
        background-color: $brand-primary;
        color: $brand-light;
    }
    > section:nth-child(3n+4) {
        background-color: $brand-light;
    }
    > section {

        & h2:before {
            @extend %icon;
            top: 0;
            float: right;            
            font-size: 100px;
        }
        &.drop h2:before {
            content: '\e064';
        }
        &.marker h2:before {
            content: '\e062';
        }
        &.globe h2:before {
            content: '\e135'
        }
    }
    ul {
        padding: 0;
    }
    .flex-container ul {
        flex-grow: 1;
        margin: $gutter $gutter 0 $gutter;
    }
    ul[class] li {
        margin-bottom: ceil($gutter-half / 2);
        list-style-type: none;
    }
    ul.tick li:before,
    ul.cross li:before {
        @extend %bullet;
    }
    ul.tick li:before {
        content: '\e013';
    }
    ul.cross li:before {
        content: '\e014';
    }
    p.lead {
        margin-bottom: $gutter-half;
    }
}


/*=> Styles - Footer
--------------------------------------------------*/

footer {
    padding-top: $grid-gutter-width;
    color: $footer-text-colour;
}


/*=> Styles - Button
--------------------------------------------------*/

.btn {
    border-radius: 0;
}

.btn-transparent {
    background: transparent;
}


